In [1]:
import pandas as pd

In [2]:
covid_file = "./time_series_covid19_confirmed_global.csv"

In [3]:
covid_timeseries = pd.read_csv(covid_file)

In [4]:
covid_timeseries.size, covid_timeseries.columns

(125766,
 Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
        '1/24/20', '1/25/20', '1/26/20', '1/27/20',
        ...
        '4/11/21', '4/12/21', '4/13/21', '4/14/21', '4/15/21', '4/16/21',
        '4/17/21', '4/18/21', '4/19/21', '4/20/21'],
       dtype='object', length=459))

In [5]:
covid_timeseries.head(2)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,57160,57242,57364,57492,57534,57612,57721,57793,57898,58037
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,128393,128518,128752,128959,129128,129307,129456,129594,129694,129842

In [6]:
covid_timeseries.iloc[-10:-5, 39]

264    37
265     0
266     0
267     0
268     0
Name: 2/26/20, dtype: int64

In [7]:
covid_timeseries.loc[0:, ['Province/State', 'Country/Region']]

    Province/State      Country/Region
0              NaN         Afghanistan
1              NaN             Albania
2              NaN             Algeria
3              NaN             Andorra
4              NaN              Angola
..             ...                 ...
269            NaN             Vietnam
270            NaN  West Bank and Gaza
271            NaN               Yemen
272            NaN              Zambia
273            NaN            Zimbabwe

[274 rows x 2 columns]

In [12]:
covid_timeseries.loc[covid_timeseries['Country/Region']=='Canada']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21
39,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,160902,162038,163119,164531,166177,167793,169279,170795,172186,173531
40,British Columbia,Canada,53.7267,-127.6476,0,0,0,0,0,0,...,109540,112829,113702,114870,116075,117080,117080,117080,120040,120889
41,Diamond Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Grand Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
43,Manitoba,Canada,53.7609,-98.8139,0,0,0,0,0,0,...,35213,35327,35459,35539,35688,35815,35992,36159,36267,36470
44,New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,...,1722,1732,1736,1752,1760,1767,1778,1788,1797,1797
45,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,1030,1030,1031,1034,1036,1039,1039,1043,1046,1048
46,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,49,49,49,49,49,49,49,49,49,49
47,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,1768,1775,1781,1783,1786,1792,1800,1807,1822,1831
48,Nunavut,Canada,70.2998,-83.1076,0,0,0,0,0,0,...,395,395,395,395,396,408,414,417,423,428
49,Ontario,Canada,51.2538,-85.3232,0,0,0,0,1,1,...,394197,398461,402003,406563,411346,416141,420241,424854,429240,432666
50,Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,...,160,160,165,165,165,165,165,165,173,174
51,Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,...,326383,327982,329472,331031,332544,334071,335608,336952,338044,339180
52,Repatriated Travellers,Canada,NaN,NaN,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
53,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,36305,36604,36892,37085,37384,37615,37615,38160,38401,38651
54,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,74,74,75,76,76,76,76,76,77,77

In [11]:
covid_timeseries.loc[(covid_timeseries['Country/Region']=='Canada') & (covid_timeseries['Province/State']=='Ontario')]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21
49,Ontario,Canada,51.2538,-85.3232,0,0,0,0,1,1,...,394197,398461,402003,406563,411346,416141,420241,424854,429240,432666

SyntaxError: invalid syntax (<ipython-input-14-42921aef441e>, line 1)